body {
  margin: 0;
  background: white;
  font-family: sans-serif;
  text-align: center;
}

#enter-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#enter-text {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

logo {
  display: inline-block;
  transform-origin: center center;
  animation: spin 5s linear infinite;
}

/* Standard animation */
keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari and older browsers */
media screen and (-webkit-min-device-pixel-ratio:0) {
  logo {
    -webkit-animation: spin 5s linear infinite;
  }
  keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
}

