body {
  margin: 0;
  background: white;
  font-family: sans-serif;
  text-align: center;
}

#enter-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#enter-text {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.hidden {
  display: none;
}